<%- include('../pages/templates/header.ejs', {title: 'WCTC Esports MMR'}) %>
<div class="container">
    <h1>WCTC Esports MMR</h1>
    <p>
        Welcome to the WCTC Esports Program website. Here, you can track player
        rankings and MMR for different games.
    </p>

    <h2>Games</h2>
    <ul>
        <li><a href="/rocket-league">Rocket League</a></li>
    </ul>
</div>
<!--suppress HtmlUnknownTarget -->
<script src="/scripts/lazyLoadImages.js"></script>
