<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title><%= title %></title>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" type="text/css" href="/styles/common.css"/>
</head>
<body>
<header>
    <h1><a href="/" style="color: inherit; text-decoration: none;">WCTC Esports MMR</a></h1>
    <nav>
        <ul>
            <li><a href="/rocket-league">Rocket League</a></li>
        </ul>
    </nav>
</header>